$colorPalettePrimaryOrangeOrangeLightest: #fef2e6;    
$colorPalettePrimaryOrangeOrangeLighter: #f7c799;    
$colorPalettePrimaryOrangeOrangeLight: #ef8f33;    
$colorPalettePrimaryOrangeOrangeBase: #eb7300;    
$colorPalettePrimaryOrangeOrangeDark: #b05600;    
$colorPalettePrimaryOrangeOrangeDarker: #763a00;    
$colorPalettePrimaryOrangeOrangeDarkest: #4c2600;    
$colorPalettePrimaryBlueBlueLightest: #eaf5ff;    
$colorPalettePrimaryBlueBlueLighter: #a0cff3;    
$colorPalettePrimaryBlueBlueLight: #419ee7;    
$colorPalettePrimaryBlueBlueBase: #1286e1;    
$colorPalettePrimaryBlueBlueDark: #0e65a9;    
$colorPalettePrimaryBlueBlueDarker: #094371;    
$colorPalettePrimaryBlueBlueDarkest: #073050;    
$colorPalettePrimaryOceanOceanLightest: #ecfafe;    
$colorPalettePrimaryOceanOceanLighter: #9ae3f4;    
$colorPalettePrimaryOceanOceanLight: #33c1e1;    
$colorPalettePrimaryOceanOceanBase: #00b2da;    
$colorPalettePrimaryOceanOceanDark: #009ec2;    
$colorPalettePrimaryOceanOceanDarker: #00596d;    
$colorPalettePrimaryOceanOceanDarkest: #004b5c;    
$colorPalettePrimaryTealTealLightest: #f3feff;    
$colorPalettePrimaryTealTealLighter: #9deaf4;    
$colorPalettePrimaryTealTealLight: #47bdcd;    
$colorPalettePrimaryTealTealBase: #33a6b6;    
$colorPalettePrimaryTealTealDark: #0090a4;    
$colorPalettePrimaryTealTealDarker: #00798a;    
$colorPalettePrimaryTealTealDarkest: #005966;    
$colorPalettePrimaryRedRedLightest: #fee9e6;    
$colorPalettePrimaryRedRedLighter: #f7a599;    
$colorPalettePrimaryRedRedLight: #ef4b33;    
$colorPalettePrimaryRedRedBase: #eb1e00;    
$colorPalettePrimaryRedRedDark: #b01700;    
$colorPalettePrimaryRedRedDarker: #760f00;    
$colorPalettePrimaryRedRedDarkest: #520b00;    
$colorPaletteSecondarySkySkyLightest: #f0f9ff;    
$colorPaletteSecondarySkySkyLighter: #b0e4ff;    
$colorPaletteSecondarySkySkyLight: #32bffe;    
$colorPaletteSecondarySkySkyBase: #07a7f0;    
$colorPaletteSecondarySkySkyDark: #0086cd;    
$colorPaletteSecondarySkySkyDarker: #006aa6;    
$colorPaletteSecondarySkySkyDarkest: #035a89;    
$colorPaletteSecondaryTurqoiseTurqoiseLightest: #f0faff;    
$colorPaletteSecondaryTurqoiseTurqoiseLighter: #c3e5f5;    
$colorPaletteSecondaryTurqoiseTurqoiseLight: #64bbe0;    
$colorPaletteSecondaryTurqoiseTurqoiseBase: #3c94ba;    
$colorPaletteSecondaryTurqoiseTurqoiseDark: #1b7298;    
$colorPaletteSecondaryTurqoiseTurqoiseDarker: #105e7f;    
$colorPaletteSecondaryTurqoiseTurqoiseDarkest: #0b4a65;    
$colorPaletteSecondaryNavyNavyLightest: #eff6fa;    
$colorPaletteSecondaryNavyNavyLighter: #a3c9e3;    
$colorPaletteSecondaryNavyNavyLight: #4794c8;    
$colorPaletteSecondaryNavyNavyBase: #1f78b4;    
$colorPaletteSecondaryNavyNavyDark: #196394;    
$colorPaletteSecondaryNavyNavyDarker: #0f4f7b;    
$colorPaletteSecondaryNavyNavyDarkest: #0b3b5b;    
$colorPaletteSecondaryAvocadoAvocadoLightest: #f3fce9;    
$colorPaletteSecondaryAvocadoAvocadoLighter: #cbf1a5;    
$colorPaletteSecondaryAvocadoAvocadoLight: #87d744;    
$colorPaletteSecondaryAvocadoAvocadoBase: #5ea824;    
$colorPaletteSecondaryAvocadoAvocadoDark: #4e9719;    
$colorPaletteSecondaryAvocadoAvocadoDarker: #417a1a;    
$colorPaletteSecondaryAvocadoAvocadoDarkest: #315818;    
$colorPaletteSystemSuccessSuccessLlightest: #e7f8eb;    
$colorPaletteSystemSuccessSuccessLighter: #8bde9d;    
$colorPaletteSystemSuccessSuccessLight: #24b041;    
$colorPaletteSystemSuccessSuccessBase: #00891d;    
$colorPaletteSystemSuccessSuccessDark: #007519;    
$colorPaletteSystemSuccessSuccsessDarker: #005c14;    
$colorPaletteSystemSuccessSuccessDarkest: #00380c;    
$colorPaletteSystemInfoInfoLightest: #e6f1fd;    
$colorPaletteSystemInfoInfoLighter: #99c7f5;    
$colorPaletteSystemInfoInfoLight: #338eea;    
$colorPaletteSystemInfoInfoBase: #0072e5;    
$colorPaletteSystemInfoInfoDark: #005ebd;    
$colorPaletteSystemInfoInfoDarker: #004c99;    
$colorPaletteSystemInfoInfoDarkest: #00254c;    
$colorPaletteSystemWarningWarningLightest: #fff9e6;    
$colorPaletteSystemWarningWarningLighter: #ffe399;    
$colorPaletteSystemWarningWarningLight: #ffc733;    
$colorPaletteSystemWarningWarningBase: #ffb900;    
$colorPaletteSystemWarningWarningDark: #d19800;    
$colorPaletteSystemWarningWarningDarker: #9e7300;    
$colorPaletteSystemWarningWarningDarkest: #6b4d00;    
$colorPaletteSystemDangerDangerLightest: #fce9e9;    
$colorPaletteSystemDangerDangerLighter: #f1a3a3;    
$colorPaletteSystemDangerDangerLight: #e24747;    
$colorPaletteSystemDangerDangerBase: #db1919;    
$colorPaletteSystemDangerDangerDark: #b21515;    
$colorPaletteSystemDangerDangerDarker: #891010;    
$colorPaletteSystemDangerDangerDarkest: #610b0b;    
$colorPaletteNeutralsOreoOreoLighter: #a6a6a6;    
$colorPaletteNeutralsOreoOreoLight: #909090;    
$colorPaletteNeutralsOreoOreoBase: #6c6c6c;    
$colorPaletteNeutralsOreoOreoDark: #484848;    
$colorPaletteNeutralsOreoOreoDarker: #333333;    
$colorPaletteNeutralsMilkMilkLighter: #ffffff;    
$colorPaletteNeutralsMilkMilkLight: #fafafa;    
$colorPaletteNeutralsMilkMilkBase: #f5f5f5;    
$colorPaletteNeutralsMilkMilkDark: #ececec;    
$colorPaletteNeutralsMilkMilkDarker: #e6e6e6;    
$colorTextButtonSecondary: #eb7300;    
$colorTextButtonPrimary: $colorPaletteNeutralsMilkMilkLighter;    
$colorTextButtonDisabled: $colorPaletteNeutralsOreoOreoLighter;    
/* case: background light */
$colorTextHeadline: $colorPaletteNeutralsOreoOreoDarker;    
$colorTextBody: $colorPaletteNeutralsOreoOreoDark;    
$colorTextSubHeadline: $colorPaletteNeutralsOreoOreoBase;    
$colorTextMetaDescription: $colorPaletteNeutralsOreoOreoLight;    
$colorTextWhite: $colorPaletteNeutralsMilkMilkLighter;    
$colorBackgroundWhite: $colorPaletteNeutralsMilkMilkLighter;    
$colorBackgroundSoft: $colorPaletteNeutralsMilkMilkLight;    
$colorBackgroundBrand: $colorPalettePrimaryOrangeOrangeBase;    
$colorBackgroundButtonPrimary: $colorPalettePrimaryOrangeOrangeBase;    
$colorBackgroundButtonWhite: $colorPaletteNeutralsMilkMilkLighter;    
$colorBackgroundButtonDisabled: $colorPaletteNeutralsMilkMilkDark;    
$colorBorderButtonPrimary: $colorPalettePrimaryOrangeOrangeBase;    
$colorBorderButtonWhite: $colorPaletteNeutralsMilkMilkLighter;    
$colorBorderButtonDisabled: $colorPaletteNeutralsMilkMilkDarker;    
$colorBorderDefault: $colorPaletteNeutralsMilkMilkDarker;    
$colorBorderInputDefault: $colorPaletteNeutralsMilkMilkDarker;    
$colorBorderInputFocus: $colorPalettePrimaryOrangeOrangeBase;    
$colorBorderInputError: $colorPaletteSystemDangerDangerBase;    
$colorDividerDefault: $colorPaletteNeutralsMilkMilkDarker;    
$colorIconBlack: $colorPaletteNeutralsOreoOreoDark;    
$colorIconWhite: $colorPaletteNeutralsMilkMilkLighter;    
$colorIconBrand: $colorPalettePrimaryOrangeOrangeBase;    
