$measureLineHeightLineheights0: 120%;    
$measureLineHeightLineheights1: 140%;    
$measureFontSizeFontsize0: 10px;    
$measureFontSizeFontsize1: 12px;    
$measureFontSizeFontsize2: 14px;    
$measureFontSizeFontsize3: 16px;    
$measureFontSizeFontsize4: 18px;    
$measureFontSizeFontsize5: 20px;    
$measureFontSizeFontsize6: 24px;    
$measureFontSizeFontsize7: 28px;    
$measureFontSizeFontsize8: 32px;    
$measureFontSizeFontsize9: 36px;    
$measureFontSizeFontsize10: 40px;    
$measureFontSizeFontsize11: 48px;    
$measureFontSizeFontsize12: 56px;    
$measureLetterSpacingLetterspacing0: 0px;    
$measureParagraphSpacingParagraphspacing0: 0px;    
$measureDimensionParagraphindent0: 0px;    
$measureSpacingSpacing1: 2px;    
$measureSpacingSpacing2: 4px;    
$measureSpacingSpacing3: 6px;    
$measureSpacingSpacing4: 8px;    
$measureSpacingSpacing5: 12px;    
$measureSpacingSpacing6: 16px;    
$measureSpacingSpacing7: 20px;    
$measureSpacingSpacing8: 24px;    
$measureSpacingSpacing9: 32px;    
$measureSpacingSpacing10: 40px;    
$measureSpacingSpacing11: 48px;    
$measureSpacingSpacing12: 64px;    
$measureSpacingSpacing13: 80px;    
