
.typographyDisplay1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyDisplay1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyDisplay1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyDisplay1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyDisplay2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyDisplay2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyDisplay2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyDisplay2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading3Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading3Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading3Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading3Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading4Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading4Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading4Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading4Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading5Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading5Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading5Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading5Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading6Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading6Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading6Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyHeading6Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody3Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody3Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody3Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyBody3Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

.typographyCaption2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize12;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyDisplay2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize11;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize10;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize9;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading3Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading3Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading3Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading3Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize8;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading4Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading4Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading4Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading4Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize7;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading5Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading5Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading5Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading5Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize6;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading6Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading6Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading6Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyHeading6Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize5;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize4;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize3;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody3Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody3Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody3Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyBody3Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize2;
  line-height: $measureLineHeightLineheights1;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption1Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption1Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption1Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption1Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize1;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption2Regular 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption2Medium 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption2Semibold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

@mixin typographyCaption2Bold 
{ 
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: $measureFontSizeFontsize0;
  line-height: $measureLineHeightLineheights0;
  letter-spacing: $measureLetterSpacingLetterspacing0;
  
  text-indent: $measureDimensionParagraphindent0; 
}    

